@model Page<PhoneBookLib.Entities.PhoneRecord>
@*@model IEnumerable<PhoneBookLib.Entities.PhoneRecord>*@

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center"><i class="fa fa-address-book" aria-hidden="true"></i>Phone book</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Id)*@
                Id
            </th>
            <th>
                Last Name
                @*@Html.DisplayNameFor(model => model.Items.LastName)*@
            </th>
            <th>
                First Name
                @*@Html.DisplayNameFor(model => model.FirstName)*@
                
            </th>           
            <th>
                Patronymic                
                @*@Html.DisplayNameFor(model => model.Patronymic)*@
            </th>            
            <th>
                <a asp-action="Create" class="btn btn-success text-white"><i class="fa fa-plus"></i> Create New</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <th>
                @Html.DisplayFor(model => item.Id)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageIndex="@(Model.PageIndex-1)"   
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-pageIndex="@(Model.PageIndex+1)"
   asp-route-sortOrder="@ViewData["CurrentSort"]"   
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>


@*asp-route-pageNumber="@(Model.PageIndex + 1)"*@
@*asp-route-pageNumber="@(Model.PageIndex - 1)"*@
